[versions]

coil = "3.0.0-alpha06"
koin = "3.5.6"
ktor = "2.3.10"

moko-resources = "0.24.0-alpha-5"

compose = "1.6.1"
compose-compiler = "1.5.13"

essenty = "2.0.0"
decompose = "3.0.0"
mvikotlin = "4.0.0"

kotlin = "1.9.23"
kotlinx-serialization = "1.6.3"

android-gradle = "8.2.2"
androidx-activity = "1.9.0"

[plugins]
moko-resources-generator = { id = "dev.icerock.mobile.multiplatform-resources", version.ref = "moko-resources" }
android-library = { id = "com.android.library", version.ref = "android-gradle" }
android-application = { id = "com.android.application", version.ref = "android-gradle" }
compose = { id = "org.jetbrains.compose", version.ref = "compose" }
kotlinx-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }

[libraries]

android-activity-compose = { module = "androidx.activity:activity-compose", version.ref = "androidx-activity" }

napier = "io.github.aakira:napier:2.7.1"
seismic = "com.squareup:seismic:1.0.3"
kotlinx-coroutines = "org.jetbrains.kotlinx:kotlinx-coroutines-core:1.8.0"
compottie = "io.github.alexzhirkevich:compottie:1.1.1"

coil-compose = { group = "io.coil-kt.coil3", name = "coil-compose", version.ref = "coil" }
coil-network-ktor = { group = "io.coil-kt.coil3", name = "coil-network-ktor", version.ref = "coil" }
coil-network-okhttp = { group = "io.coil-kt.coil3", name = "coil-network-okhttp", version.ref = "coil" }

koin-core = { module = "io.insert-koin:koin-core", version.ref = "koin" }
koin-android = { module = "io.insert-koin:koin-android", version.ref = "koin" }

ktor-core = { module = "io.ktor:ktor-client-core", version.ref = "ktor" }
ktor-logging = { module = "io.ktor:ktor-client-logging", version.ref = "ktor" }
ktor-engine-darwin = { module = "io.ktor:ktor-client-darwin", version.ref = "ktor"}
ktor-engine-okhttp = { module = "io.ktor:ktor-client-okhttp", version.ref = "ktor" }
ktor-serialization-json = { module = "io.ktor:ktor-serialization-kotlinx-json", version.ref = "ktor" }
ktor-contentnegotiation = { module = "io.ktor:ktor-client-content-negotiation", version.ref = "ktor" }

moko-resources-compose = { module = "dev.icerock.moko:resources-compose", version.ref = "moko-resources" }

compose-ui = { group = "org.jetbrains.compose.ui", name = "ui", version.ref = "compose" }
compose-tooling = { group = "org.jetbrains.compose.components", name = "components-ui-tooling-preview", version.ref = "compose" }
compose-runtime = { module = "org.jetbrains.compose.runtime:runtime", version.ref = "compose" }
compose-material2 = { module = "org.jetbrains.compose.material:material", version.ref = "compose" }
compose-foundation = { module = "org.jetbrains.compose.foundation:foundation", version.ref = "compose" }

essenty-lifecycle = { group = "com.arkivanov.essenty", name = "lifecycle", version.ref = "essenty" }
essenty-backhandler = { group = "com.arkivanov.essenty", name = "back-handler", version.ref = "essenty" }

decompose-core = { group = "com.arkivanov.decompose", name = "decompose", version.ref = "decompose" }
decompose-extensions-compose = { group = "com.arkivanov.decompose", name = "extensions-compose", version.ref = "decompose" }

mvikotlin-core = { group = "com.arkivanov.mvikotlin", name = "mvikotlin", version.ref = "mvikotlin" }
mvikotlin-main = { group = "com.arkivanov.mvikotlin", name = "mvikotlin-main", version.ref = "mvikotlin" }
mvikotlin-logging = { group = "com.arkivanov.mvikotlin", name = "mvikotlin-logging", version.ref = "mvikotlin" }
mvikotlin-coroutines = { group = "com.arkivanov.mvikotlin", name = "mvikotlin-extensions-coroutines", version.ref = "mvikotlin" }

[bundles]

compose = [
    "compose-ui",
    "compose-runtime",
    "compose-foundation",
    "compose-material2",
]

mvikotlin-common = [
    "mvikotlin-core",
    "mvikotlin-main",
    "mvikotlin-coroutines"
]